<div class="card col-lg-8 mb-3">
  <h3 class="card-header">Foods</h3>
</div>

<div class="card col-lg-8 mb-3">
  <div class="card-body">
    <%= turbo_frame_tag "foods_list" do %>
      <% @food_items.each do |food_item| %>
        <h5><%= link_to food_item.name, food_item_path(food_item) %></h5>
        <span><strong>Calories:</strong> <%= food_item.calories %> |</span>
        <span><strong>Fat:</strong> <%= food_item.fat %>g |</span>
        <span><strong>Carbs:</strong> <%= food_item.carbs %>g |</span>
        <span><strong>Prot:</strong> <%= food_item.protein %>g</span>
      <% end %>

      <% if @food_items.empty? %>
        <p>No foods found.</p>
      <% end %>

    <% end %> 
  </div>
</div>

